html {
    background-color: #212121;
}

@media (min-width: 1300px) {

  .Bg {
    width: 1200px;
    height: 1100px;
    background: #131414;
    margin-left: 650px;
    margin-top: 200px;
    border-radius: 5px 5px 5px 5px;
    border: solid 10px gray;
    border-bottom: blue;
    position: absolute;
    z-index: -3;
  }
  
  /* GLOWING CARD */
  
  .glowing-card:before {
    content: "";
    background: linear-gradient(
      45deg,
      #34b1df,
      #0088ff,
      #1c9ee9,
      #00fff2,
      #00ffd5,
      #0077ff,
      #1a58c4,
      #0484c8,
      #30e5f9
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-card 4s infinite alternate;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  .glowing-card {
      width: 1000px;
      height: 200px;
      margin-left: 770px;
      margin-top: 250px;
      color: #fff;
      font-family: "Roboto", sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      border-radius: 10px;
      position: absolute;
    }
    
    .glowing-card h3 {
      font-size: 30px;
    }
  
  
    .glowing-box:before {
  
      position: absolute;
      top: -2px;
      left: -2px;
      background-size: 400%;
      z-index: -1;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      animation: glowing-box 20s linear infinite;
      transition: opacity 0.3s ease-in-out;
      border-radius: 10px;
  
      content: "";
      background: linear-gradient(
        45deg,
        rgba(56,145,224,1) 19%,
         rgba(84,154,226,1)45%,
          rgb(51, 95, 183) 91%
      );
      
    }
  
  
  
    /* GLOWING BOX */
  
    .glowing-box {
      width: 300px;
      height: 200px;
      margin-top: 600px;
      margin-left: 800px;
      color: #fff;
      font-family: "Roboto", sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      border-radius: 10px;
    }
  
    
  
    
    .glowing-box h3 {
      font-size: 30px;
    }
  
    .glowing-box::after {
      content: "";
      position: absolute;
      height: 95%;
      width: 95%;
      background: linear-gradient(lightblue, rgb(0, 174, 255));
      z-index: -2;
      filter: blur(20px);
      top: 11px;
      left: 13px;
      transition: all 500ms ease;
    }
    
    .glowing-box:hover::after {
      height: 103%;
      width: 102%;
      top: 0;
      left: 0;
    }

}

.Bg {
  width: 1200px;
  height: 1100px;
  background: #131414;
  margin-left: 650px;
  margin-top: 200px;
  border-radius: 5px 5px 5px 5px;
  border: solid 10px gray;
  border-bottom: blue;
  position: absolute;
  z-index: -3;
}

/* GLOWING CARD */

.glowing-card:before {
  content: "";
  background: linear-gradient(
    45deg,
    #34b1df,
    #0088ff,
    #1c9ee9,
    #00fff2,
    #00ffd5,
    #0077ff,
    #1a58c4,
    #0484c8,
    #30e5f9
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-card 4s infinite alternate;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glowing-card {
    width: 1000px;
    height: 200px;
    margin-left: 770px;
    margin-top: 250px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 10px;
    position: absolute;
  }
  
  .glowing-card h3 {
    font-size: 30px;
  }


  .glowing-box:before {

    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-box 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;

    content: "";
    background: linear-gradient(
      45deg,
      rgba(56,145,224,1) 19%,
       rgba(84,154,226,1)45%,
        rgb(51, 95, 183) 91%
    );
    
  }



  /* GLOWING BOX */

  .glowing-box {
    width: 300px;
    height: 200px;
    margin-top: 600px;
    margin-left: 800px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 10px;
  }

  

  
  .glowing-box h3 {
    font-size: 30px;
  }

  .glowing-box::after {
    content: "";
    position: absolute;
    height: 95%;
    width: 95%;
    background: linear-gradient(lightblue, rgb(0, 174, 255));
    z-index: -2;
    filter: blur(20px);
    top: 11px;
    left: 13px;
    transition: all 500ms ease;
  }
  
  .glowing-box:hover::after {
    height: 103%;
    width: 102%;
    top: 0;
    left: 0;
  }



  @keyframes glowing-box {
    0% {
      background-position: 250 750;
    }
  }

@keyframes glowing-card {
  0% {
background-position: 0 0;
  }

  50% {
    background-position: 1000 0;
  }

  100% {
    background-position: 2000 0;
  }


}

